body {
	background-color: black;
}

h1 {
  color:gray;
  font-family:arial;
}

P {
	font-family:arial;
	margin-bottom: -12px;
}

label {
  width: 100px;
  font-family: arial
}

.div0 {
	background-color: gray;
	border-radius: 25px;
	padding: 25px; 
  	width: 400px;
  	height: 250px;

.div1 {
	margin-left: 50px;
}


