body {
  background-color: black;
}

h1{
  color:gray;
  font-family:arial;
}

label {
  width: 600px;
  margin-left: 50px;
  font-family: arial
}

.div1 {
   background-color: green;
  margin: 4px 20px;
}

