body {
	background-color: white;
}

h1 {
  color:gray;
  font-family:arial;
}

P {
	font-family:arial;
	margin-bottom: -12px;
}

label {
  width: 100px;
  font-family: arial
}

.div1 {
  background-color: white;
  margin-left: 50px;
}


